.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.sticky-offset{
    top:56px;
    padding: 3px 0 3px 0;
    background-color: #fff;
}

.mtg-card img{
    width: 100%;
}

.table-striped tbody tr.highlight{
    background-color: #f26767;
}
